.topbar {
  margin: 0;
  padding: 0;
  display: flex;
  height: 10%;
  width: 100%;
  position: fixed;
  background: rgba(28, 127, 184, 0.917);
  font-weight: 800;
  font-size: x-large;
  justify-content: center;
}

.topbar a {
  text-decoration: none;
  color: rgb(243, 243, 243);
  cursor: pointer;
}

.topbar a:hover {
  color: rgb(51, 58, 61);
}

.topbar div {
  width: 5%;
  padding: 2.2% 5%;
  text-align: center;
}

.topbar h1 {
  margin: 0;
  padding: 1.5%;
  color: white;
}
